hr{
    background-color: black;
    height: 10px;
    width: 1000px;
    
}

h2{
    color: black;
}

.parabold{
    font-weight: bold;
}

form{
    text-align: center;
    
}


input{
    height: 20px;
    width: 200px;
    
}

textarea{
    height: 100px;
    width: 500px;
}




b{
    color: black;
}