img{
    height: 200px;
    width:  250px;
}

.projects{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: black;
    gap: 300px;
    font-size: 20px;
    padding-top: 30px;
}



p{
    color: rgb(0, 0, 0);
    font-size: 20px;
}




body{
    text-align: center;
}

